/* specifics */

.container-fluid-gradient {
    background: linear-gradient(to bottom, #F7EBDF, #c0ac98);
}

.info-section-bg {
    background: linear-gradient(to top, #674831, #996b47);
}

.form-section-bg {
    background-color: #F7EBDF;
}

.register-btn {
    background-color: #674831; 
    color: white; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    font-weight: 600; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
}

.register-btn:hover {
    background-color: #8f610b; 
}

.no-underline {
    text-decoration: none; 
}

.no-underline:hover {
    text-decoration: underline; 
    text-decoration-color:  white;
}