@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url("https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');
/* Used for the index hero */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Alegreya:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');

:root {
    /* --clr-white: #f7f4ef; */
    --clr-white: #f5f5f5;
    --clr-beige: #e8dacd;
    --clr-pale-white: #e1cdbc;
    --clr-dark: #543a35;
    --clr-choco: #8f6b61;
    --clr-darkest: #29190e;

    --clr-vanilla: #dfbf91;
}

body {
    background-color: var(--clr-white) !important;
    /* font-family: "Jost", sans-serif; */
    font-family: "Poppins", sans-serif;
}

.debuger {
    border: 1px solid red;
}

.section-container {
    /* border: 1px solid red; */
    margin-top: 4.5rem;
    margin-bottom: 4rem;
}

.section-header {
    color: var(--clr-dark);
    font-size: 2.5rem;
    font-weight: 800;
}

.section-headerv2 {
    color: var(--clr-dark);
    font-size: 2rem;
    font-weight: 800;
}

.section-headerv3 {
    font-size: 2rem;
    font-weight: 800;
}

.footer-header {
    color: var(--clr-white) !important;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 35px;
}

.footer-a {
    color: var(--clr-white) !important;
}

.norte-custom-card {
    background-color: #f5f5f5 !important;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.norte-custom-card-img {
    height: 200px;
}

/* Especial Btn that has box shadow */
.choco-btn {
    background-color: var(--clr-choco) !important;
    border: none;
    box-shadow: 6px 6px 0 -1px var(--clr-darkest);
    color: var(--clr-white);
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease all .3s;
}

.choco-btn:hover {
    background-color: var(--clr-darkest) !important;
    box-shadow: 5px 5px 0 -2px var(--clr-choco) !important;
}

/* Normal Choco Btn */
.choco-normal-btn {
    background-color: var(--clr-choco) !important;
    color: var(--clr-white) !important;
}

.dark-btn {
    background-color: var(--clr-dark) !important;
    color: var(--clr-white) !important;
}

.text-choco {
    color: var(--clr-choco) !important;
}

/* Used for "We Value" section as container of <i> */
.cirlce-container {
    background-color: var(--clr-dark);
    height: 50px;
    width: 50px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* util */
.border {
    border-top: .8px solid #000000 !important;
    border-bottom: .8px solid #000000 !important;
    border-right: none !important;
    border-left: none !important;
    padding: 1.3rem 0 1rem 0;
}

.choco-bg {
    /* background: linear-gradient(130deg, var(--clr-choco), var(--clr-dark)); */
    background-color: var(--clr-choco);
    color: var(--clr-white);
}

.dark-bg {
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.white-bg {
    background-color: #fff;
}

.whitev2-bg {
    background-color: var(--clr-white);
}

.white-choco-btn {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-darkest);
    border-radius: 20px;
    color: var(--clr-darkest);
    font-weight: 600;
    text-decoration: none;
    padding: .4rem .8rem;
}

/* md */
@media (min-width: 768px) {
    .section-header {
        font-size: 3rem;
    }

}

/* Lg */
@media (min-width: 1024px) {
    .section-header {
        font-size: 3.3rem;
    }
}

/* xL */
@media (min-width: 1280px) {}

/* 2xL */
@media (min-width: 1536px) {}