
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url("https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');
/* Used for the index hero */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Alegreya:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');

:root {
    --clr-white: #f7f4ef;
    --clr-beige: #e8dacd;
    --clr-pale-white: #e1cdbc;
    --clr-dark: #543a35;
    --clr-choco: #8f6b61;
    --clr-darkest: #29190e;

    --clr-vanilla: #dfbf91;
}

body {
    background-color: var(--clr-white) !important;
    font-family: "Jost", sans-serif;
}

.section-container {
    border: 1px solid red;
    margin-top: 5rem;
}

.section-header {
    color: var(--clr-dark);
}

.choco-btn {
    background-color: var(--clr-choco) !important;
    border: none;
    box-shadow: 6px 6px 0 -1px var(--clr-darkest);
    color: var(--clr-white);
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease all .3s;
}

.choco-btn:hover {
    background-color: var(--clr-darkest) !important;
    box-shadow: 5px 5px 0 -2px var(--clr-choco) !important;
}

.text-choco {
    color: var(--clr-choco) !important;
}

/* md */
@media (min-width: 768px) {
}

/* Lg */
@media (min-width: 1024px) {
}

/* xL */
@media (min-width: 1280px) {
}

/* 2xL */
@media (min-width: 1536px) {
}