/* SECTION 1 */
.hero-grid {
    height: 320px;
}

.hero-blob {
    filter: drop-shadow(1px 1px 20px orange);
}

.hero-header {
    font-family: "Alegreya", sans-serif;
    font-size: 2.4rem;
    line-height: 40px;
}

.hero-features-text {
    font-size: 13.4px;
}

/* 4 square at the HERO section */
.square {
    border: 1px solid var(--clr-darkest);
    border-radius: 5px;
    padding: 0 .7rem;
}

.square-icon {
    vertical-align: -14px;
}

.explore-menu-img {
    height: 250px;
}


/* SECTION 3 */
.delivery-header {
    width: 13ch;
}

.delivery-logo {
    margin-top: 2rem;
    height: 250px;
}

.our-story-img {
    box-shadow: 0 0 10px var(--clr-darkest);
    height: 340px;
}

/* md */
@media (min-width: 768px) {
    .hero-grid {
        height: 430px;
    }

    .hero-blob {
        height: 300px;
        width: 320px;
    }

    .hero-header {
        font-size: 2.5rem;
    }

    .hero-features-text {
        font-size: 16px;
    }

    /* Section 3 */
    .delivery-logo {
        margin-top: 0;
        height: 300px;
    }

    /* Section 5 */
    .our-story-img {
        height: 380px;
    }
}

/* Lg */
@media (min-width: 1024px) {
    .hero-header {
        font-size: 3rem;
        width: 18ch;
    }

    .hero-blob {
        height: 320px;
        width: 340px;
    }

    .hero-header {
        font-size: 3rem;
    }
}

/* xL */
@media (min-width: 1280px) {}

/* 2xL */
@media (min-width: 1536px) {}